/*
 * jsTree grip theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-grip
  background transparent
  
  a
    color #ddd
    font-size 13px
    line-height 16px
    padding 2px 5px
    vertical-align 2px

    ins
      // inner icon
      display none

  li
    // rows background
    // dots used to go in here with 
    // background: url(dots.png) no repeat

  li.jstree-last
    // this was used to disable the default vertical dots line
    // for the list item
    background transparent

  ins
    // icons background

  // another icon background
  // only for files
  // a .jstree-icon
  //   background cyan

  ins
    opacity 0.4

  .jstree-open > ins 
    background url("images/cc/white/png/folder_open_icon&16.png")
    width 16px
    height 16px
    // background #63e

  .jstree-closed > ins
    background url("images/cc/white/png/folder_icon&16.png")
    width 16px
    height 16px
    //background #e36

  .jstree-leaf > ins
    // leaf dots background
    // background url("images/cc/white/png/doc_empty_icon&16.png")
    width 16px
    height 16px
    background url("images/cc/white/png/doc_lines_icon&16.png")
    // background #36e

  .jstree-hovered
    // background #222
    font-weight bold
    color white

  .jstree-clicked
    //background #0D665B
    //background #63e
    background #222
    font-weight bold
    color white
    
  a.jstree-loading .jstree-icon 
    background url("throbber.gif") center center no-repeat !important;

  .jstree-no-dots li, 
  .jstree-no-dots .jstree-leaf > ins { background:transparent; }
  .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
  .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

  .jstree-no-icons a .jstree-icon { display:none; }

  .jstree-search { font-style:italic; }

  .jstree-no-icons .jstree-checkbox { display:inline-block; }
  .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
  .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
  .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
  .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
  .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
  .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
  .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-grip ins { background:transparent !important; }
#vakata-dragged.jstree-grip .jstree-ok { background:url("d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-grip .jstree-invalid { background:url("d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-grip { background:url("d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-grip a.jstree-search { color:aqua; }
.jstree-grip .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-grip-context, 
#vakata-contextmenu.jstree-grip-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-grip-context li { }
#vakata-contextmenu.jstree-grip-context a { color:black; }
#vakata-contextmenu.jstree-grip-context a:hover, 
#vakata-contextmenu.jstree-grip-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-grip-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-grip-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-grip-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-grip-context li ul { margin-left:-4px; }

